

body {
   position: relative;
   margin-left:10%;
   margin-right:10%;
   margin-top:-20px;
   margin-bottom:-1%;
   text-align: justify;
   font-family: "Raleway", sans-serif;
   color: #2b3e51;
   background-color: #ffffff;
}
body:after {
    content : "";
    display: block;
    position: absolute;
    margin-top:0px;
    top: 0;
    left: 0;
    background: url(http://www.travelskyline.net/thumbs/linaria_port__skyros_central_greece_greece-t2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;
}

.discr {
	color: #585858;
}

#profilepic {
  width:41%;
  max-width:350px;
  height:100%;
  margin:10px 0px 70px 0px;
  float:left;
}

 
#p1 {
     position: relative;
     top:0px;
     color:#505050;
}
#p1 h1{
  margin-bottom:-10px;
  /*font-size: 4vw;*/
}


#content {
	clear:both;
	/*font-size: 1.2vw;*/
	margin-right:2%;
	margin-left:2%;
}

#address {
     float:left;
}
#address2 {
     float:left;
}


table tr th {
    font-size:120%;
    text-align: left;
}

table tr td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

#content h1 {
  position:relative;
  margin-top:40px;
  color:#505050;
}
 
#footer {
  text-align:center;
}

.social{
	margin-left: 10px;
	display:inline;
}

@media all and (min-width: 960px) {

#p1 h1{
  font-size: 50px;
  }
#p1 p{
  font-size: 20px;
  }
#content {
	font-size: 15px;
  }
#main {
	max-width: 1000px;
	margin: auto;
  }
#icon {
	width:150px;
	height:110px;
  }
.social_icon {
	width:40px;
	height:40px;
  }
}

@media all and (max-width: 959px) and (min-width: 600px) {

#p1 h1{
  font-size: 5vw;
  }
#p1 p{
  font-size: 2vw;
  }
#content {
	font-size: 1.2vw;
  }
#icon {
	width:100px;
	height:80px;
  }
.social_icon {
	width:30px;
	height:30px;
  }
}

@media all and (max-width: 599px) and (min-width: 50px) {

#p1 h1{
  font-size: 15px;
  margin-bottom: 5px;
  }
  
#p1 p{
  font-size: 10px;
  }
#content {
	font-size: 10px;
  }
#icon {
	width:50px;
	height:40px;
  }
.social_icon {
	width:10px;
	height:10px;
  }

}
